# Certificados personales
# HTML Essentials
HTML Essentials/html-essentials.png
HTML Essentials/HTMLEssentialsv120260919-21-3quogk.pdf
HTML Essentials/HTML_Essentials_certificate_samuelmartinezalarcon06-gmail-com_44752804-3219-4dcd-964d-f2d5e5a201ce.pdf

# CSS Essentials
CSS Essentials/css-essentials.png
CSS Essentials/CSSEssentialsv120260927-20-hs8buz.pdf
CSS Essentials/CSS_Essentials_certificate_samuelmartinezalarcon06-gmail-com_390aa560-1b9f-4eb8-8521-21bdca57ff29.pdf

# Introducción a Cisco Packet Tracer
Introducción a Cisco Packet Tracer/Getting_Started_with_Cisco_Packet_Tracer_certificate_samuelmartinezalarcon06-gmail-com_91e8e040-5158-4e92-8dfe-39e6bea.pdf
